<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header th:fragment="header" class="bg-primary text-white text-center py-2">
	  <div class="container">
	    <div class="row">
	      <div class="col-4">
	        <img
	          src="img/logo-fi-unju.png"
	          alt="Logo de la Facultad"
	          style="max-width: 400px" />
	      </div>
	      <div class="col-8">
	        <h1 class="mt-3">Facultad de Ingeniería - UNJu</h1>
	        <p class="lead">Educación de calidad para el futuro</p>
	      </div>
	    </div>
      </div>
	</header>
</body>
</html>